<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>TRF Logistica</h1> - <h3>(2011 - 2022)</h3></li>
            <p>Area: Sistemas</p>
            <p>Soporte IT</p>

        </ul>
        <ul>
            <li><h1>TRF Logistica</h1> - <h3>(2011 - 2022)</h3></li>
            <p> Sector Inventario (cuenta Adidas).</p>
            <p>Tareas desempeñadas: control de stock</p>
            <p>Maquinista sector de Reposición</p>
            <p>Manejo de autoelevadores (Order picker - triloder)</p>
        </ul>
  </div>
</div>