<div class="row">
    <h1>Proyectos realizados</h1>
<div class="contenedor">
<div class="col-sm-12 col-md-7 col-lg-7 parte1">
  <h1>Encriptador</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident corporis odio aperiam praesentium laboriosam. Unde qui, nesciunt culpa accusantium illo obcaecati maxime eum corporis! Repudiandae earum sit eveniet ullam? Distinctio.</p>
</div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto" >
       </div>
    </div>
</div>
