<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educación Secundario</h1> - <h3>(2007 - 2010)</h3></li>
            <p> Escuela de educación media N° 5 (Ex nacional). Garín.
                Modalidad: Producción de Bienes y servicios (Informática)
                con TTP (Taller técnico profesional), con desarrollo y producción 
                de aplicaciones.</p>
                <p>Secundario Completo.
                Título obtenido: Tecnico en informática personal y profesional.</p>
        </ul>
        <ul>
            <li><h1>Curso Argentina programa</h1> - <h3>(2021 - 2022)</h3></li>
            <p> Primera etapa “sé programar”
                Actualmente cursando 
                Segunda etapa “#yo programo”</p>
        </ul>
  </div>
</div>
