<div class="row">
    <div class="container">
        <div class="logo">
            <img class="logoimg" src="../../../assets/logo-ap.png" id="logo-ap">
        </div>
        <div class="redes"> 
                <a href=""><img class="redesimg" src="../../../assets/linkedin.png" id="instagram"></a>
                <a href=""><img  class="redesimg"src="../../../assets/twitter.png" id="github"></a>
                <a href=""><img  class="redesimg"src="../../../assets/instagram.png" id="twitter"></a>
                <a href=""><img  class="redesimg"src="../../../assets/github.png" id="facebook"></a>
                <a href=""><img  class="redesimg"src="../../../assets/facebook.png" id="Linkedin"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div> 
</div>   

